#constants {
    display: inline-block;
    margin: 5px 25px 5px 25px;
}

#constants table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#constants thead tr {
    background-color: #3d5c56;
    color: #ffffff;
    text-align: left;
}

#constants th,
#constants td {
    padding: 5px;
}

#constants tbody tr {
    border-bottom: 1px solid #dddddd;
}

#constants tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#constants tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
